*{
    margin: 0;
    padding :0;
}
body{
    font-family: 'Nunito Sans', sans-serif;    
}
.main{
    background: linear-gradient(180deg, #0c4c78 -100%, #1e2f40 100%);
}
.container{
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.text{
    color: #faf9f9;
    flex: 0 0 580px;
    padding-top: 170px;
    padding-bottom: 170px;
}
h1{
    font-size: 120px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 120px;
    margin-bottom: 40px;    
}
h1 span{
    color:#fbb731;
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
    display: block;
    margin-bottom: 10px;    
}
.text p{
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    line-height: 1.4;
    margin-bottom: 42px;
    text-transform:capitalize;
}
.main a,
.promo a{
    color: #1e2f40;
    background-color: #fbb731;
    border-radius: 5px;
    text-decoration: none;
    padding: 20px 45px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 700;
}
.visual{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    position: relative;
    
}
.bg{
    width: 470px;
    height: 100%;
    background: linear-gradient(2.42deg, #f37335 -19.6%, #fbb731 100.79%, #fdc830 100.79%);
    position:absolute;
    right: -50px;
    
}
.main img{
    width: 829px;
    position:absolute;
    right: -250px;
}

.promo{
    padding-top: 150px;
    padding-bottom: 150px;
}

.promo-left,
.promo-right{
    flex: 0 0 49%; 
    color:#faf9f9;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;

}

.promo-left{
    background-image: url(../image/promo-left.png);
    padding: 116px 50px 116px 50px;
}

.promo-right{
    background-image: url(../image/promo-right.png);
    padding: 102px 50px;
 
}

.sale{
    font-size: 14px;
    font-weight: 900;
    background: #f37335;
    padding: 5px 20px;
    border-radius: 28px;
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.cost{
    font-size: 72px;
    font-weight:900;
    margin-bottom: 8px;

}

.description{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 24px;
}

.promo-left .description{
    max-width: 392px;
   
}

.promo-right .description{
    max-width: 300px;
    margin-bottom: 20px;
}

.free{
    font-size: 44px;
    font-weight: 900;
    margin-bottom: 10px;
    text-transform:capitalize;
 }
.footer{
    background-color:#1e2f40;
    color:#faf9f9; 
    padding-top: 117px;
    padding-bottom: 106px;
    padding-left: 150px;   
}

.logo{
    width: 80px; 
    
      
}

.item{
    flex: 0 0 auto;
}

.item h2{
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    padding-bottom:12px;
}

.item ul,
.tel ul{
    list-style-type: none;
}

.item li{
    margin-bottom: 9px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
}

.item a{
    color: #dedede;
    text-decoration: none;
    font-weight: 400;
    
}

.item span{
    color:#dedede;
    display: block;
    font-weight: 400;
    margin-bottom: 2px;

    
}

.tel ul{
    font-size: 24px;
    color:#fbb731;  
}

.tel li{
    margin-bottom: 12px;

}



    



